#back {
box-shadow: 10px 10px 5px #888888;
display:block;
height:100%;
    margin-right:20%;
  margin-left:20%;
  padding:50px;

  background-color:#ffffff;
  border:3px solid black;
  border-radius:2% 2% 2% 2%;
  };
 