/* CSS used here will be applied after bootstrap.css */

body { 
 background: #08359A url("../image/logo-9.jpg") no-repeat fixed center;
 /*background-color: #08359A;*/
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
}

.panel-default {
 opacity: 0.9;
 margin-top:30px;
 background-color: #FCFFF5;
}
.form-group.last {
 margin-bottom:0px;
}


