

.bnner {
	padding: 100px 0;
	color: #f8f8f8;
	background: url(../img/images.jpg) no-repeat center center;
	background-size: cover;
}

.bnner h2 {
	margin: 0;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
	font-size: 3em;
}

.bnner ul {
	margin-bottom: 0;
}

.bnner-social-buttons {
	float: right;
	margin-top: 0;
}

@media (max-width: 1199px) {
	ul.bnner-social-buttons {
		float: left;
		margin-top: 15px;
	}
}

@media (max-width: 767px) {
	.bnner h2 {
		margin: 0;
		text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
		font-size: 3em;
	}

	ul.bnner-social-buttons > li {
		display: block;
		margin-bottom: 20px;
		padding: 0;
	}

	ul.bnner-social-buttons > li:last-child {
		margin-bottom: 0;
	}
}

